@font-face {
    font-family: 'fontico';
    src: url('font/fontico.woff2') format('woff2'),
    url('font/fontico.woff') format('woff'),
    url('font/fontico.ttf') format('truetype'),
    url('font/fontico.svg;') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
*{
    margin: 0;
}
:root{
	--height-header: 0px; /*Без указания пикселей формула не работала*/
	--height-footer: 240px;
}
html{
    height: 100%;
}
body{
    font-family: 'fontico';
	/*height:100%;
    display: flex;
    flex-direction: column;*/
}
main{
    /*flex: 1;*/
	min-height: calc(100vh - var(--height-footer) - var(--height-header)); /*Но лучше не делать так футер*/
}
footer{
    padding: 20px;
    background: grey;
}
.twitter::before{
    content: "\f303";
    color: aqua;
}
.skype:before{
    content: '\f30b';
    color: blue;
}
.yandex::before{
    content: '\f306';
    color: red;
}