section{
    display: flex;
    flex-wrap: wrap;
}
label{
    margin: 20px 20px 0 0;
    border: 2px solid green;
    order: 1;
}
.buttom{
   display: none;
}
.txt{
    display: none;
    margin: 20px 20px 0 0;
    border: 4px dotted blue;
    width: 100%;
    order: 2;
}
.buttom:checked + label + .txt{
    display: block;
}
.switch__input{
    display: none;
}
.switch__label{
    display: inline-block;
    border: none;
    /*position: relative;*/
    height: 30px;
    width: 60px;
    border: 1px solid lightgray;
    border-radius: 30px;
    cursor: pointer;
}
.switch__toggle{
    /*position: absolute;*/
    display: inline-block;/*Другой вариант*/
    width: 50%;
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    background: #fff;
}
.switch__input:checked + .switch__label{
    background: green;
    text-align: right;/*Другой вариант*/

}
/*.switch__input:checked + .switch__label .switch__toggle{
    right: 0;
}*/
