textarea{
    display: block;
    font-family: inherit;
    max-width: 100%;
    min-width: 50%;
    width: 75%;
}
div:nth-child(n+4){
coslor: red;
}
.psi::before{
content: "start";
}
div.psi::after{
content: "end";
}
div span.one{
color: blue;
}
span.one{
color: brown;
}
.abs{
    position: absolute;
    background: black;
    width: 100px;
    height: 100px;
    right: 20px;
    top: 20px;
}
.back{
  background: url(image/inv.jpg);
  background-size: cover;

}
.back::before{
    
}
.front{

}